asgiref==3.4.1
asn1crypto==0.24.0
certifi==2018.8.24
cffi==1.15.0
chardet==3.0.4
charset-normalizer==2.0.9
cryptography==2.6.1
defusedxml==0.7.1
distro==1.3.0
distro-info==0.21
Django==3.2.11
django-allauth==0.48.0
django-ckeditor==6.2.0
django-js-asset==2.0.0
django-model-utils==4.2.0
django-mptt==0.13.4
django-notifications-hq==1.6.0
django-ranged-response==0.2.0
django-simple-captcha==0.5.14
entrypoints==0.3
idna==2.6
importlib-metadata==4.10.1
jsonfield==3.1.0
keyboard==0.13.5
keyring==17.1.1
keyrings.alt==3.1.1
Markdown==3.3.6
MouseInfo==0.1.3
oauthlib==3.2.0
olefile==0.46
onboard==1.4.1
Pillow==9.0.0
PyAutoGUI==0.9.53
pycairo==1.16.2
pycparser==2.21
pycrypto==2.6.1
pycurl==7.43.0.2
PyGetWindow==0.0.9
Pygments==2.11.2
PyGObject==3.30.4
PyJWT==2.3.0
PyMsgBox==1.0.9
pyperclip==1.8.2
PyRect==0.1.4
PyScreeze==0.1.28
pysmbc==1.0.15.6
python-apt==1.8.4.3
python-xlib==0.23
python3-openid==3.2.0
python3-xlib==0.15
pytweening==1.0.4
pytz==2021.3
pyxdg==0.25
requests==2.26.0
requests-oauthlib==1.3.1
SecretStorage==2.3.1
six==1.12.0
sqlparse==0.4.2
swapper==1.3.0
ttkthemes==3.2.2
typing-extensions==4.0.1
unattended-upgrades==0.1
urllib3==1.24.1
zipp==3.7.0
