<!-- 定义导航栏 -->
{% load static %} {% load notifications_tags %} {% notifications_unread as unread_count %}
<header class="header">
  <div class="header-fixed is-sticky fadeInDown animated">
    <div class="container-fluid pl-120 pr-120 position-relative">
      <div class="row d-flex align-items-center">
        <div class="col-lg-3 col-md-4 col-6">
          <!-- Logo -->
          <div class="logo">
            <a href="{% url 'blog:index' %}"
              ><img
                src="{% static 'blog/images/logo.png' %}"
                alt=""
                class="img-fluid"
            /></a>
          </div>
          <!-- End of Logo -->
        </div>

        <div
          class="col-lg-9 col-md-8 col-6 d-flex justify-content-end position-static"
        >
          <!-- Nav Menu -->
          <div class="nav-menu-cover">
            <ul class="nav nav-menu">
              <li><a href="{% url 'blog:index' %}">Home</a></li>
              <li><a href="#">About</a></li>
{#              <li class="menu-item-has-children">#}
{#                <a href="#">Blog</a>#}
{#                <ul class="sub-menu">#}
{#                  <li class="menu-item-has-children">#}
{#                    <a href="#">Blog List</a>#}
{#                    <ul class="sub-menu">#}
{#                      <li><a href="blog-list-sidebar.html">List Sidebar</a></li>#}
{#                      <li>#}
{#                        <a href="blog-list-full-width.html">List Full Width</a>#}
{#                      </li>#}
{#                      <li><a href="blog-grid-sidebar.html">Grid Sidebar</a></li>#}
{#                      <li><a href="blog-grid-2-col.html">Grid v2</a></li>#}
{#                      <li><a href="blog-grid-3-col.html">Grid v3</a></li>#}
{#                      <li><a href="blog-overlay.html">Blog Overlay</a></li>#}
{#                      <li><a href="blog-card-v1.html">Blog Card v1</a></li>#}
{#                      <li><a href="blog-card-v2.html">Blog Card v2</a></li>#}
{#                    </ul>#}
{#                  </li>#}
{#                  <li class="menu-item-has-children">#}
{#                    <a href="#">Blog Details</a>#}
{#                    <ul class="sub-menu">#}
{#                      <li><a href="blog-details.html">Default Style</a></li>#}
{#                      <li>#}
{#                        <a href="blog-details-full-width.html">Full Width</a>#}
{#                      </li>#}
{#                      <li><a href="blog-details-video.html">Video Post</a></li>#}
{#                      <li><a href="blog-details-slide.html">Slide Post</a></li>#}
{#                      <li><a href="blog-details-audio.html">Audio Post</a></li>#}
{#                    </ul>#}
{#                  </li>#}
{#                </ul>#}
{#              </li>#}
{#              <li class="menu-item-has-children">#}
{#                <a href="#">Pages </a>#}
{#                <ul class="sub-menu">#}
{#                  <li><a href="categories.html">Categories</a></li>#}
{#                  <li><a href="search-result.html">Search Results</a></li>#}
{#                  <li><a href="404.html">404 Error</a></li>#}
{#                </ul>#}
{#              </li>#}
{#              {% if user.is_authenticated %}#}
{#              <li class="menu-item-has-children">#}
{#                <a href="#">#}
{#                  <!-- 新增代码，小红点 -->#}
{#                  {% if unread_count %}#}
{#                  <svg viewBox="0 0 8 8" width="8px" height="8px">#}
{#                    <circle cx="4" cy="4" r="4" fill="#ff6b6b"></circle>#}
{#                  </svg>#}
{#                  {% endif %} 欢迎,{{ user.username | upper }}</a#}
{#                >#}
{#                <ul class="sub-menu">#}
{#                  {% if user.is_superuser %}#}
{#                  <li>#}
{#                    <a href="{% url 'blog:article_create' %}">编写博客</a>#}
{#                  </li>#}
{#                  <li role="separator" class="dropdown-divider"></li>#}
{#                  {% endif %}#}
{#                  <li>#}
{#                    <a class="dropdown-item" href="{% url 'notice:list' %}"#}
{#                      >系统通知 {% if unread_count %}#}
{#                      <span class="badge badge-danger">{{ unread_count }}</span>#}
{#                      {% endif %}#}
{#                    </a>#}
{#                  </li>#}
{#                  <li>#}
{#                    <a href="{% url 'userprofile:edit' request.user.id %}"#}
{#                      >修改资料</a#}
{#                    >#}
{#                  </li>#}
{#                  <li><a href="{% url 'userprofile:logout' %}">退出系统</a></li>#}
{#                </ul>#}
{#              </li>#}
{#              {% else %}#}
{#              <li><a href="{% url 'userprofile:login' %}">登录</a></li>#}
{#              {% endif %}#}
            </ul>
          </div>
          <!-- End of Nav Menu -->

          <!-- Mobile Menu -->
          <div class="mobile-menu-cover">
            <ul class="nav mobile-nav-menu">
              <li class="search-toggle-open">
                <img
                  src="assets/images/search-icon.svg"
                  alt=""
                  class="img-fluid svg"
                />
              </li>
              <li class="search-toggle-close hide">
                <img src="assets/images/close.svg" alt="" class="img-fluid" />
              </li>
              <li class="nav-menu-toggle">
                <img
                  src="assets/images/menu-toggler.svg"
                  alt=""
                  class="img-fluid svg"
                />
              </li>
            </ul>
          </div>
          <!-- End of Mobile Menu -->
        </div>
      </div>
    </div>
  </div>
</header>
