{% extends 'article/base.html' %}
{% load article_tags %}
{% load staticfiles %}
{% block title %}
    文章列表
{% endblock %}
{% block content %}
    <div class="row text-center vertical-middle-sm">
        <h1>阅读，丰富头脑，善化行为</h1>
        <p>这里已经有{% total_articles %}篇文章供您阅读</p>
    </div>
    <div class="container" style="width: 90%;">
        {% for article in articles %}
            <div class="list-group">
                <a href="{{ article.get_url_path }}" class="list-group-item active">
                    <h4 class="list-group-item-heading">{{ article.title }}</h4>
                    <p class="list-group-item-text">作者:{{ article.author.username }}</p>
                    <p class="list-group-item-text">概要:{{ article.body | slice:":40" | linebreaks }}</p>
                </a>
            </div>
        {% endfor %}
        {% include 'paginator.html' %}
    </div>
{% endblock %}